<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/chat_room.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/FRAME.css" rel="stylesheet">

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(document).ready(function () {
            jQuery('.message').click(function (e) {
                // location.href = '/chat';
            });
        });
        function goBack(){
            window.history.back();
        }
    </script>

    <script>

        function createRoom(){
            var roomId = $('#roomIdInput').val();
            var roomName = $('#roomNameInput').val();
            var id = $('#idInput').val();
            var output = {
                command:'create',
                roomId:roomId,
                roomName:roomName,
                roomOwnoer:id
            };
            socket.emit('room', output);
        }
        function updateRoom(){
            var roomId = $('#roomIdInput').val();
            var roomName = $('#roomNameInput').val();
            var id = $('#idInput').val();
            var output = {
                command:'update',
                roomId:roomId,
                roomName:roomName,
                roomOwnoer:id
            };
            socket.emit('room', output);
        }
        function deleteRoom(){
            var roomId = $('#roomIdInput').val();
            var id = $('#idInput').val();
            var output = {
                command:'delete',
                roomId:roomId,
                roomName:'',
                roomOwnoer:id
            };
            socket.emit('room', output);
        }
        function joinRoom(){
            var roomId = $('#roomIdInput').val();
            var output = {
                command:'join',
                roomId:roomId
            };
            socket.emit('room', output);
        }
        function leaveRoom(){
            var roomId = $('#roomIdInput').val();
            var output = {
                command:'leave',
                roomId:roomId
            };
            socket.emit('room', output);
        }
        function println(data){      //상태 프린트
            console.log(data);
            $('#results').append('<p>' + data + '</p>');
        }

    </script>




    <title>채팅방 목록</title>
</head>
<body class="coloring">
<% include ./navbar %>
<!--메뉴 영역 끝-->

<div class = "chat_tab">
    <div onclick="location='./chatroomchat'">채팅</div>
    <div onclick="location='./chatroommessage'">메시지</div>
</div>

<!-- /////////////////chat코드로 수정하기//////////// -->
<div class="container" style="padding-top:6rem">
    <div class="reco" style="margin-top: -1rem">
        <!--event_data는 내게 신청한 상대팀 정보-->
        <!--event_data.others는 선택된 (내가 올렸던) 경기 날짜 & 시간 등 들어있음 -->


        <%
        var count = 0; // 띄워지는 값 count

        for(var i = 0; i < event_data.length; i++) {
            var email = event_data[i].email;
            var otherEmail = event_data[i].otherEmail;
            var match_success = event_data[i].match_success;
            var otherTeamname = event_data[i].otherTeamname;
        %>

        <script>
            function clicked(email, otherEmail, match_success, otherTeamname, index) {
                document.getElementsByName('email')[index].value = email;
                document.getElementsByName('otherEmail')[index].value = otherEmail;
                document.getElementsByName('match_success')[index].value = match_success;
                document.getElementsByName('otherTeamname')[index].value = otherTeamname;
                // document.getElementsByName('chatIndex')[index].value = index;

                alert('email : ' + email + ', otherEmail : ' + otherEmail + ', index : ' + index + ', match_success : ' + match_success);

                /*                if(match_success == 0) {
                                    alert("아직 매칭이 완료되지 않았습니다.");
                                    location.href="/chatroomchat";
                                } else*/
                document.getElementsByName('formPost')[index].submit();
            }
        </script>

        <form action="/chatroomchat" method="post" name="formPost">
            <input type="hidden" name="email" id="email">
            <input type="hidden" name="otherEmail" id="otherEmail">
            <input type="hidden" name="match_success" id="match_success">
            <input type="hidden" name="otherTeamname" id="otherTeamname">
            <!--<input type="hidden" name="chatIndex" id="chatIndex">-->
        </form>
        <div class="message" onclick="clicked( '<%= event_data[i].email %>','<%=event_data[i].otherEmail%>', '<%= event_data[i].match_success %>', '<%= event_data[i].otherTeamname %>', '<%= count%>')">
            <div class="chat_room_content">
                <div><br>채팅 with " <%=otherTeamname%> "팀<br></div>
            </div>
        </div>

        <hr class="mb-4">

        <%
            count++;
        }
        %>
    </div>
</div>
</body>
</html>