<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/common.css" rel="stylesheet">
    <link href="./css/FRAME.css" rel="stylesheet">
    <link href="./css/chat.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>

    <script>
        var socket;
        var writer;
        var recipient = '<%= event_data.otherEmail %>';

        //jquery에서 문서가 다 로딩 되었을 때 호출되는 함수
        $(function(){
            connect();
            login();
        });

        function connect(){
            var host = '172.30.1.50';  // 아이피 바꾸기!!!!!!
            $('#hostInput').val(); //203.153.146.124
            var port = 3000;  // $('#portInput').val();
            //서버에 접속
            connectToServer(host, port);
        }
        function connectToServer(host, port){
            var url = 'http://' + host + ':' + port;
            var options = {
                forceNew:true   //연결이 끊어질 때마다 새로운 연결을 만들어라
            };
            socket = io.connect(url, options);   //socket객체 생성
            socket.on('connect'/*connect 이벤트 발생*/, function(){
                console.log('웹소켓 서버에 연결됨 -> ' + url);
            });
            socket.on('disconnect'/*disconnect 이벤트 발생*/, function(){
                console.log('웹소켓 연결 종료됨.');
            });

            socket.on('message', function(message){
                //println('수신 -> ' + JSON.stringify(message));
                //      $(output).prependTo('#content');
                addToChatting(message.email, message.data, message.application_number, message.cancel);
            });

            socket.on('preload',function(dbData){
                addToChatting(dbData.email, dbData.message, dbData.application_number, dbData.cancel);
            });

            socket.on('cancel_message',function(dbData){
                addToChatting(dbData.email, dbData.message, dbData.application_number, dbData.cancel);
            });
        }

        function login(){
            var id = '<%= email %>';
            var teamname = '<%= teamname %>';
            var today = new Date();
            var otherId = '<%= event_data.otherEmail %>';
            var application_number = '<%=event_data.application_number%>';

            var output = {
                id:id,
                teamname:teamname,
                otherId:otherId,
                today:today,
                application_number:application_number
            };

            socket.emit('login', output);
        }

        function send(){
            var email = '<%= email %>';
            var sender = '<%= teamname %>';   //senderInput 입력상자에서 입력 값 가져오기
//          var recipient = $('#recipientInput').val();
            var recipient = '<%= event_data.otherEmail %>';
            var application_number = '<%=event_data.application_number%>';

            var data = $('#dataInput').val();
            var chattype = $('#chattype option:selected').val();
            var message = {
                email:email,
                sender:sender,
                recipient:recipient,
                application_number: application_number,
                command:chattype,
                data:data,
                type:'text'
            };
            socket.emit('message', message);

            // 13일에 보낸게 왜 15일 방에 상대방이 접속중이면 뜨지..

            addToChatting(message.email, message.data, message.application_number, 0);
        }

        function addToChatting(writer, msg, application_number, cancel) {
            var temp = '<%= email %>';
            if (writer == temp)
                writer = 'me';
            else
                writer = 'you';

            var contents;

            if (writer == 'me') {

                contents =
                    "<li class="+ writer +">"
                    +"<div class='msg'"+"<p>"+msg+"</p>"
                    +"</div></li>";
            } else {
                var profile = '<%= event_data.otherProfile %>';

                contents =
                    "<li class=" + writer + ">"
                    + "<div class='img_div'" + "style='margin-left: 0rem; margin-right: 0'>" + "<img class='profile_img' src='../profile_img/" + profile + "'/>" + "</div>"
                    + "<div class='msg'" + "<p>" + msg + "</p></div>"
                    + "</li>";
            }

            if(cancel == 1) {
                if((writer == 'you') && (application_number == '<%= event_data.application_number%>')) {

                    msg = '상대방이 ' + msg + ' 수락을 누르면 매칭 정보가 삭제되며, 필요시 상대방 신고하기 버튼을 누르면 관리자에게 접수됩니다.';
                    contents =
                        "<li class=" + writer + ">"
                        + "<div class='img_div'" + "style='margin-left: 0rem; margin-right: 0'>" + "<img class='profile_img' src='../profile_img/" + profile + "'/>" + "</div>"
                        + "<div class='msg'" + "<p>" + msg + "</p><button class='btn' onclick='deleteClick()'>수락" + "</button></div>"
                        + "</li> ";

                    $(".chatting").append(contents);

                    var objDiv = document.getElementById("chatting");
                    objDiv.scrollTop = objDiv.scrollHeight;
                }else if((writer == 'me') && (application_number == '<%= event_data.application_number%>')) {

                    msg = '매칭을 취소하였습니다. 상대방이 확인을 누르면 매칭 정보가 삭제됩니다.';

                    contents =
                        "<li class=" + writer + ">"
                        + "<div class='msg'" + "<p>" + msg + "</p>"
                        + "</li>";

                    $(".chatting").append(contents);

                    var objDiv = document.getElementById("chatting");
                    objDiv.scrollTop = objDiv.scrollHeight;
                }
            }else{
                if(application_number == '<%= event_data.application_number%>') {

                    $(".chatting").append(contents);

                    var objDiv = document.getElementById("chatting");
                    objDiv.scrollTop = objDiv.scrollHeight;
                }
            }
        }

        function println(data){      //상태 프린트
            //       console.log(data);
            $('#chatting').append('<p>' + data + '</p>');
        }

        function clearText(field) {
            field.value="";
        }
    </script>

    <title><%= event_data.otherTeamname %>팀과의 채팅방</title>
</head>
<!--메뉴 영역 시작 : 나중에 파일로 따로 빼기 -->
<!--여기선 메뉴명 채팅방으로 되어 있음-->

<body class="whiteB">

<nav class="navbar blueB">
    <div class="top">
        <div>
            <img src="../img/left-arrow.png" alt="" width="20rem" height="20rem" style="margin-right:3rem" onclick="goBack()">

            <p class="logo ml-sm-3"><%= event_data.otherTeamname %>팀과의 채팅방</p>
        </div>

        <div>
            <img src="../css/img/menu.png" width="20rem" height="20rem" class="navbar-toggler" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/chatroomchat">
                    <b>채팅방 목록으로 돌아가기</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <div onclick="appointment()" onmouseover="this.style.color='#dfe3ee'" onmouseout="this.style.color='white'"><b>시간 장소 다시 정하기</b></div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#myModal">
                    <b>매칭 중단하기</b><br>
                </a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#reportModal">
                    <b>상대방 신고하기</b><br>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="py-4 text-center"></div>

<!--메뉴 영역 끝 : -->

<form action="/chat" method="post" id="formPost">
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <!--&lt;!&ndash; Modal body &ndash;&gt;-->
                <div class="modal-body">
                    <p style="color:black"></p>매칭을 중단하시겠습니까? 상대방과의 모든 매칭 정보가 삭제됩니다.
                </div>

                <input type="hidden" name="otherEmail" value="<%= event_data.otherEmail%>">
                <input type="hidden" name="event_date" value="<%=event_data.event_date%>">
                <input type="hidden" name="event_time" value="<%=event_data.event_time%>">
                <input type="hidden" name="application_number" value="<%=event_data.application_number%>">

                <!--&lt;!&ndash; Modal footer &ndash;&gt;-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" >닫기</button>
                    <button type="button" class="btn" onclick="cancel()" data-dismiss="modal" data-toggle="collapse" data-target="#navbarsExample01" >매칭 중단</button>
                </div>

            </div>
        </div>
    </div>
    <!--Modal end-->
</form>


<style>
    #mydiv{
        background-color:#e5e5e5;
    }
</style>

<div id="mydiv">
    <div class="chatting" id="chatting" style="height:82vh; margin-bottom: 1rem"></div>
</div>

<div class="mb-3" style="display: flex; margin-left: .5rem; margin-right: .5rem; justify-content: space-between; align-items: center">
    <img src="./css/img/add.png" id="add_button" width="30rem" height="30rem" alt="" style="margin-right: 1rem">
    <input type="text" class="form-control" id="dataInput" placeholder="내용을 입력해주세요."  style="margin-right: .5rem" onFocus="clearText(this)">
    <button type="submit" class="btn btn-warning" id="text_button" onclick="send();">전송</button>

    <script>
        function goBack(){
            window.history.back();
        }

        // $(".add_button_content").hide();
        $("#add_button").click(function(){
            var add = './css/img/add.png';
            var close = './css/img/close-button.png';

            if($('#add_button').attr('src') === add) {
                $('#add_button').attr('src', close);
            } else {
                $('#add_button').attr('src', add);
            }

            $("#add_button_content").toggle();
        });

        var email = '<%= email %>';
        var sender = '<%= teamname %>';
        var recipient = '<%= event_data.otherEmail %>';
        var application_number = '<%=event_data.application_number%>';

        function cancel() {
            var data = '매칭을 취소하였습니다.'
            var chattype = $('#chattype option:selected').val();
            var message = {
                email:email,
                sender:sender,
                recipient:recipient,
                application_number: application_number,
                cancel:1,
                command:chattype,
                data:data,
                type:'text'
            };
            socket.emit('message', message);
            // alert('cancel 함수' );
            addToChatting(message.email, message.message, message.application_number, message.cancel);
            // alert('addToChatting 보냄');
        }

        function deleteClick() {
            var data = '매칭이 취소되었습니다. 채팅방을 더 이상 사용할 수 없습니다.';
            var chattype = $('#chattype option:selected').val();
            var message = {
                email:email,
                sender:sender,
                recipient:recipient,
                application_number: application_number,
                cancel:0,
                command:chattype,
                data:data,
                type:'text'
            };
            socket.emit('message', message);

            // setTimeout(function () {
            document.getElementById('formPost').submit();
            // }, 500);
        }

        function report() {
            alert('신고가 접수되었습니다.');
            document.getElementById('formPost_report').submit();
        }

        function appointment() {
            document.getElementById('formPost_appoint').submit();
        }
    </script>
</div>

<div id="add_button_content" style="display: none; margin-left: .5rem; margin-right: .5rem; justify-content: space-around;" class="mb-3">

    <h4>경기 정보</h4>
    <div>경기 날짜 : <%=event_data.event_date%></div>
    <div>경기 시간 : <%=event_data.event_time%></div>
    <div>경기 장소 : </div>
    <div>우리팀 경기 인원 : </div>
    <div>상대팀 경기 인원 : </div>
</div>

    <form action="/chatappointment" method="get" id="formPost_appoint">
        <input type="hidden" name="email" value="<%=event_data.email%>">
        <input type="hidden" name="otherEmail" value="<%=event_data.otherEmail%>">
        <input type="hidden" name="otherTeamname" value="<%=event_data.otherTeamname%>">
        <input type="hidden" name="event_date" value="<%=event_data.event_date%>">
        <input type="hidden" name="event_time" value="<%=event_data.event_time%>">
        <input type="hidden" name="application_number" value="<%=event_data.application_number%>">
    </form>

    <form action="/reportdeveloper" method="post" id="formPost_report">
        <input type="hidden" name="otherEmail" value="<%=event_data.otherEmail%>">
        <input type="hidden" name="otherTeamname" value="<%=event_data.otherTeamname%>">
        <input type="hidden" name="application_number" value="<%=event_data.application_number%>">

        <!-- The report Modal -->
        <div class="modal" id="reportModal">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body" style="border-top:1px solid black">
                        관리자에게 신고할 내용을 입력<br>
                        신고할 팀 : <b><%=event_data.otherTeamname%>팀</b> <br>(id : <%=event_data.otherEmail%>)
                    </div>

                    <textarea name="report_content" id="" cols="7" rows="4" placeholder="여기 입력"></textarea>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" >닫기</button>
                        <button type="button" class="btn" onclick="report()" data-dismiss="modal" data-toggle="collapse" data-target="#navbarsExample01">제출</button>
                    </div>

                </div>
            </div>
        </div>
        <!--reportModal end-->

    </form>



</body>
</html>