<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->

    <title>메인페이지</title>
</head>

<body class="coloring">
<% include ./navbar %>
<div class="container">
    <div class="reco">

        <!--매칭검색 아이콘-->
        <div class="search_match">
            <a href="/mainsearch" style="background-color:#7473ff; width:100%;">
                <div class="search_text">&nbsp; &nbsp; &nbsp; &nbsp; Search Match</div>
                <div class="search_img"><img src="../img/update_findteam.png" height="25rem" style="padding:1px;"> &nbsp; </div>
            </a>
        </div>

<!--        <div style="display:flex; justify-content: space-between; align-items: center;" class="mb-3">
            &lt;!&ndash;<span style="font-weight: bold; color: white;">매칭추천</span>&ndash;&gt;

            <script type="text/javascript">

                jQuery(function() {
                    jQuery('#sort').change(function() {
                        this.form.submit();
                    });
                });
            </script>

        </div>-->

        <!--<div class="list mb-3">-->
        <div class="mb-3">
            <% if(event_data[0] == null) { %>
            <p style="font-weight: bold">등록된 매칭이 없습니다.</p>
            <%} else{ %>

            <% for(var i=0; i<event_data.length; i++){
                var curEmail = event_data[i].email;
                var curTeamname = event_data[i].teamname;
                var curRegion = event_data[i].region;
                var curAdd = event_data[i].add;
                var curMove = event_data[i].move;
                var curGender = event_data[i].gender;
                var curDate = event_data[i].event_date;
                var curTime = event_data[i].event_time;
                var curDay = event_data[i].event_day;
                var curNofteam = event_data[i].nofteam;
                var matchYear = curDate.substring(0,4);
                var matchMonth = curDate.substring(5,7);
                var matchDay = curDate.substring(8,10);
                var add_rep = curAdd.replace(/\"/g, "");
                add_rep = add_rep.replace(/\[/g, "");
                add_rep = add_rep.replace(/\]/g, "");
                add_rep = add_rep.replace(/\,/g, " ");

                var today = new Date();
                var dd = today.getDate();
                dd = Number(dd);
                var mm = today.getMonth()+1; //현재 달
                mm = Number(mm);
                var yyyy = today.getFullYear();
                var month = Number(matchMonth); //매칭날짜의 달
                var date = Number(matchDay);

                /* 여기 오늘날짜=디데이 일때 에러나는듯,,,,*/
                var dday = new Date(yyyy, month-1, date);
                var gap = dday.getTime() - today.getTime();
                var D_day = Math.floor((gap)/(1000*60*60*24))+1;

                if(curGender == 75) {
                    curGender = '무관';
                }else if(curGender == 50) {
                    curGender = '남자';
                }else if(curGender == 100){
                    curGender = '여자';
                }

                if(curMove == 100){
                    curMove = 'O';
                }else if(curMove == 50){
                    curMove = 'X';
                }
                
                if(curTime == 'none'){
                    curTime = '무관';
                }
            %>

            <script>
                function clicked(email, teamname, add, region, move, age, gender, careerYear, teamTalent, date, time, day, mention, createdMonth, createdDay, geoLng, geoLat, nofteam, application_number, index) {
                    var add_rep = add.replace(/\"/g, "");
                    add_rep = add_rep.replace(/\[/g, "");
                    add_rep = add_rep.replace(/\]/g, "");
                    add_rep = add_rep.replace(/\,/g, " ");

                    document.getElementsByName('sEmail')[index].value = email;
                    document.getElementsByName('sTeamname')[index].value = teamname;
                    document.getElementsByName('sAdd0')[index].value = add_rep.split(' ')[0];
                    document.getElementsByName('sAdd1')[index].value = add_rep.split(' ')[1];
                    document.getElementsByName('sRegion')[index].value = region;
                    document.getElementsByName('sMove')[index].value = move;
                    document.getElementsByName('sAge')[index].value = age;
                    document.getElementsByName('sGender')[index].value = gender;
                    document.getElementsByName('sCareerYear')[index].value = careerYear;
                    document.getElementsByName('sCareerCount')[index].value = teamTalent;
                    document.getElementsByName('sDate')[index].value = date;
                    document.getElementsByName('sTime')[index].value = time;
                    document.getElementsByName('sDay')[index].value = day;
                    document.getElementsByName('sMention')[index].value = mention;
                    document.getElementsByName('sCreatedMonth')[index].value = createdMonth;
                    document.getElementsByName('sCreatedDay')[index].value = createdDay;
                    document.getElementsByName('sGeoLng')[index].value = geoLng;
                    document.getElementsByName('sGeoLat')[index].value = geoLat;
                    document.getElementsByName('sNofteam')[index].value = nofteam;
                    document.getElementsByName('sApplicationNumber')[index].value = application_number;
                    alert(teamname + '팀에게 매칭 신청하였습니다. 상대팀에서 수락하면 채팅방이 열리게 됩니다.')
                }
                function modal_open_clicked(email, teamname, add, region, move, age, gender, careerYear, teamTalent, date, time, day, mention, createdMonth, createdDay, geoLng, geoLat, nofteam, allRating, index) {
                    if(gender == 25) {
                        gender = '무관'
                    }else if(gender == 50) {
                        gender = '남'
                    }else{
                        gender = '여'
                    }
                    if(move == 100){
                        move = 'O';
                    }else if(move == 50){
                        move = 'X';
                    }
                    var add_rep = add.replace(/\"/g, "");
                    add_rep = add_rep.replace(/\[/g, "");
                    add_rep = add_rep.replace(/\]/g, "");
                    add_rep = add_rep.replace(/\,/g, " ");

                    careerYear = <%= yyyy %> - careerYear;

                    if(teamTalent == 10){
                        var curTalent = '최상';
                    }else if(teamTalent == 8){
                        var curTalent = '상';
                    }else if(teamTalent == 6){
                        var curTalent = '중';
                    }else if(teamTalent == 4){
                        var curTalent = '하';
                    }else if(teamTalent == 2){
                        var curTalent = '최하';
                    }
                    
                    if(time == 'none'){
                        time = '(무관)';
                    }

                    // alert(region + email);
                    $("div[name=email]").eq(index).text(email);
                    $("div[name=teamname]").eq(index).text(teamname + ' 팀');
                    $("div[name=add]").eq(index).text(add_rep);
                    $("div[name=region]").eq(index).text(region);
                    $("div[name=move]").eq(index).text(move);
                    $("div[name=age]").eq(index).text(age +'대');
                    $("div[name=gender]").eq(index).text(gender);
                    $("div[name=careerYear]").eq(index).text(careerYear + '년');
                    $("div[name=careerCount]").eq(index).text(curTalent);
                    $("div[name=date]").eq(index).text(date);
                    $("div[name=time]").eq(index).text(time + '시');
                    $("div[name=day]").eq(index).text(day + '요일');
                    $("div[name=mention]").eq(index).text(mention);
                    $("span[name=createdMonth]").eq(index).text(createdMonth + '월 ');
                    $("span[name=createdDay]").eq(index).text(createdDay + '일');
                    $("div[name=nofteam]").eq(index).text(nofteam + '명');
                    $("div[name=allRating]").eq(index).text(allRating);
                    // alert(region);
                    $("div[name=myModal]").eq(index).modal();
                    // alert(email);
                }
            </script>

            <div class="list_item" style="margin-left:.5rem; margin-right:.5rem;">
                <div class="list_divide">
                    <div style="width:70%;">
                        <div class="list_item_teamname"><%= curTeamname %></div>
                        <div class="list_item_date">
                        <%= matchYear %>년 <%= matchMonth %>월 <%= matchDay %>일 <%= curDay %>요일, <%= curTime %>시</div>
                    </div>
                    <div class="list_item_icon">
                        <h8><%= curGender %></h8>
                        <h7>D-<%= D_day %></h7>
                    </div>
                </div>
                
                <div class="list_divide_2">                    
                    <div class="list_item_detail">
                        <h9>&nbsp;장소&nbsp;</h9><%= add_rep %> <%= curRegion %>
                    </div>
                    <div class="list_item_detail">
                        <h9>&nbsp;정원&nbsp;</h9> 총 <%= curNofteam %>명 (*인원변동가능)
                    </div>
                </div>
            </div>
            <div style="text-align: center">

                <button type="button" class="btn" style="display: block; color:white; text-align:center; margin-left:auto;margin-right:auto; background-color:#7473ff; margin-top:.7rem; margin-bottom:1.5rem;" name="modal_open_button" onclick="modal_open_clicked(
                        '<%= event_data[i].email %>',
                        '<%= event_data[i].teamname %>',
                        '<%= event_data[i].add %>',
                        '<%= event_data[i].region %>',
                        '<%= event_data[i].move %>',
                        '<%= event_data[i].age %>',
                        '<%= event_data[i].gender %>',
                        '<%= event_data[i].career_year %>',
                        '<%= event_data[i].team_talent %>',
                        '<%= event_data[i].event_date %>',
                        '<%= event_data[i].event_time %>',
                        '<%= event_data[i].event_day %>',
                        '<%= event_data[i].mention %>',
                        '<%= event_data[i].created_month %>',
                        '<%= event_data[i].created_day %>',
                        '<%= event_data[i].geoLng %>',
                        '<%= event_data[i].geoLat %>',
                        '<%= event_data[i].nofteam %>',
                        '<%= event_data[i].allRating %>',
                        '<%= i%>')">상세 정보</button>
            </div>



            <form action="/main" method="post">
                <input type="hidden" name="sEmail" id="sEmail" >
                <input type="hidden" name="sTeamname" id="sTeamname" >
                <input type="hidden" name="sAdd0" id="sAdd0" value=''>
                <input type="hidden" name="sAdd1" id="sAdd1" value=''>
                <input type="hidden" name="sRegion" id="sRegion" value=''>
                <input type="hidden" name="sMove" id="sMove" value=''>
                <input type="hidden" name="sAge" id="sAge" value=''>
                <input type="hidden" name="sGender" id="sGender" value=''>
                <input type="hidden" name="sCareerYear" id="sCareerYear" value=''>
                <input type="hidden" name="sCareerCount" id="sCareerCount" value=''>
                <input type="hidden" name="sDate" id="sDate" value=''>
                <input type="hidden" name="sTime" id="sTime" value=''>
                <input type="hidden" name="sDay" id="sDay" value=''>
                <input type="hidden" name="sMention" id="sMention" value=''>
                <input type="hidden" name="sCreatedMonth" id="sCreatedMonth" value=''>
                <input type="hidden" name="sCreatedDay" id="sCreatedDay" value=''>
                <input type="hidden" name="sGeoLng" id="sGeoLng" value=''>
                <input type="hidden" name="sGeoLat" id="sGeoLat" value=''>
                <input type="hidden" name="sNofteam" id="sNofteam" value=''>
                <input type="hidden" name="sApplicationNumber" id="sApplicationNumber" value=''>
                <!-- The Modal -->
                <div class="modal" name="myModal">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">
                            <!--&lt;!&ndash; Modal Header &ndash;&gt;-->
                            <div class="modal-header">
                                <h4 class="modal-title" style="text-align: center; font-size:1.2rem;"><%=event_data[i].teamname%> 팀</h4>
                                <button type="button" class="close" data-dismiss="modal" style="color:white;">&times;</button>
                            </div>
                            <!--&lt;!&ndash; Modal body &ndash;&gt;-->
                            <div class="modal-body">
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">주장 이메일 : </div><div name="email" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">팀명 : </div>
                                <div name="teamname" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">지역 : </div><div name="add" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">장소 : </div><div name="region" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">원정경기 : </div><div name="move" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">연령대 : </div><div name="age" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">성별 : </div><div name="gender" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">경기경력 : </div><div name="careerYear" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">실력 : </div><div name="careerCount" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">날짜 : </div><div name="date"  value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">시간 : </div><div name="time" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">요일 : </div><div name="day" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30% !important;">한마디 : </div><div name="mention" value='' class="modal_content" style="width:70%;"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">매칭등록일 : </div><span name="createdMonth" value='' class="modal_content"></span>
                                <span name="createdDay" value='' class="modal_content"></span>
                                <div name="geoLng" value='' class="modal_content"></div>
                                    <div name="geoLat" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">인원수 : </div><div name="nofteam" value='' class="modal_content"></div></div>
                                <div style="display:flex;"><div style="color:#D2D0DE; display:block; width:30%;">전체 평점 : </div><div name="allRating" value='' class="modal_content"></div></div>
                            </div>
                            <!--&lt;!&ndash; Modal footer &ndash;&gt;-->
                            <div class="modal-footer">
                                <button type="button" class="btn" data-dismiss="modal" style="color:white; background-color:#7473ff; border-radius: 10px;">닫기</button>
                                <button type="submit" class="btn" style="color:white; background-color:#7473ff; border-radius: 10px;" onclick="clicked(
                                        '<%= event_data[i].email %>',
                                        '<%= event_data[i].teamname %>',
                                        '<%= event_data[i].add %>',
                                        '<%= event_data[i].region %>',
                                        '<%= event_data[i].move %>',
                                        '<%= event_data[i].age %>',
                                        '<%= event_data[i].gender %>',
                                        '<%= event_data[i].career_year %>',
                                        '<%= event_data[i].team_talent %>',
                                        '<%= event_data[i].event_date %>',
                                        '<%= event_data[i].event_time %>',
                                        '<%= event_data[i].event_day %>',
                                        '<%= event_data[i].mention %>',
                                        '<%= event_data[i].created_month %>',
                                        '<%= event_data[i].created_day %>',
                                        '<%= event_data[i].geoLng %>',
                                        '<%= event_data[i].geoLat %>',
                                        '<%= event_data[i].nofteam %>',
                                        '<%= event_data[i].application_number %>',
                                        '<%= i%>')">매칭 신청</button>
                            </div> <!--modal-footer-->
                        </div>
                    </div>
                </div>
            </form>

            <%}%>
            <%}%>

        </div> <!--mb_3-->
    </div> <!--reco-->

</div> <!--container-->
</body>
</html>