<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/common.css" rel="stylesheet">
  <link href="../css/my_match.css" rel="stylesheet">
  <!--<link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">-->
  <title>내가 등록한 매칭</title>

  <!-- Bootstrap core JavaScript -->
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        function goBack(){
            window.history.back();
     }
    </script>
</head>

<body class="coloring">
<nav class="navbar">
    <div class="top">
        <img src="../img/left-arrow.png" height="20rem" onclick="goBack();">
		<a href="/"><img src="../img/update_logo2.jpg" height="50rem"></a>
        <div class="sets">
            <a href="/chatroomchat"><img src="../img/update_chat.png" class="menu_img" height="20rem"></a>
            <img src="../img/update_menu.png" height="20rem" class="navbar-toggler" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarsExample01">
        <div class="mypage">
            <img src="../profile_img/<%= profile_img %>" id="profile_pic" style="width:3.5rem; height: 3.5rem">
            <div id="name" style="font-weight: bold; font-size: 1.2rem; margin-right: 0; color:white;"><%= teamname %> 팀</div>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <a href="/teamprofile"><button class="btn btn-sm btn-warning" type="submit" style="margin-right: 2px;">내 정보</button></a>
                <a href="/logout"><button class="btn btn-sm btn-warning" type="submit" style="margin-left: 2px;">로그아웃</button></a>
            </div>
        </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">홈 (매칭 팀 검색)</a>
      </li>
      <li class="nav-item" style="display:flex; align-items:center">
        <span style="margin-bottom: 0; padding: .5rem 0rem; color:white">우리 팀</span>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/teamreceivedreview" style="margin-left:2rem">우리 팀 평가 점수</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teamschedule" style="margin-left:2rem">경기 스케줄</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="matchapplication">매칭 등록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mymatch">내가 등록한 매칭</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">개발자에게 연락</a>
      </li>
    </ul>

    </div>
</nav>

<div class="container">
  <div class="reco">
	  
	 <% if(event_data[0] == null) { %>
       <p style="font-weight: bold">등록된 매칭이 없습니다.</p>
     <%} else{ %>
	  
		<% for(var i = 0; i < event_data.length; i++) {
		  var curEmail = event_data[i].email;
		  var curCreatedMonth = event_data[i].created_month;
		  var curCreatedDay = event_data[i].created_day;
		  var curTeamname = event_data[i].teamname;
		  var curAdd = event_data[i].add[0] +' '+ event_data[i].add[1];
		  var curRegion = event_data[i].region;
		  var curMove = event_data[i].move;
		  var curAge = event_data[i].age;
		  var curDate = event_data[i].event_date;
		  var curTime = event_data[i].event_time;
		  var curMention = event_data[i].mention;
		  var curApplicationNumber = event_data[i].application_number;
		  
		  var matchYear = curDate.substring(0,4);
		  var matchMonth = curDate.substring(5,7);
		  var matchDay = curDate.substring(8,10);

		if(curMove == 100){
			curMove = 'O';
		}else if(curMove == 50){
			curMove = 'X';
		}

		if(curTime == 'none'){
			curTime = '시간 무관';
		}
		%>
    <div class="content mb-3"> <!--content-->
      <div class="date">
        <h3 style="font-weight: bold"><%= matchMonth %> / <%= matchDay %></h3>
      </div>
      <div class= "events mb-3">
        <div class="score_content">
          <div class = "schedule-detail">
            <p class="schedule-detail-content">
              <span class="bold">지역 | </span>
              <span><%= curAdd %></span>
            </p>
            <p class="schedule-detail-content">
              <span class="bold">장소 | </span>
              <span><%= curRegion %></span>
            </p>
            <p class="schedule-detail-content">
              <span class="bold">원정가능 유무 | </span>
              <span><%= curMove %></span>
            </p>
            <p class="schedule-detail-content">
              <span class="bold">연령대 | </span>
              <span><%= curAge %> 대</span>
            </p>
			  
			  <!--
            <p class="schedule-detail-content">
              <span class="bold">등록한 날짜 | </span>
              <span><%= curCreatedMonth %>월 <%= curCreatedDay %>일</span>
            </p>
-->
			  
            <p class="schedule-detail-content">
              <span class="bold">시간 | </span>
              <span><%= curTime %></span>
            </p>
            <p class="schedule-detail-content">
              <span class="bold">기타 할 말 | </span>
              <span><%= curMention %></span>
            </p>
            <div>
				<form action="/mymatch" method="post">
					<input type="hidden" name="user" id="user" class="form-control" value="<%= curEmail %>" readonly/>
					<input type="hidden" name="date" id="date" class="form-control" value="<%= curDate %>" readonly/>
					<input type="hidden" name="time" id="time" class="form-control" value="<%= curTime %>" readonly/>
					<input type="hidden" name="event_region" id="event_region" class="form-control" value="<%= curRegion %>" readonly/>
					<input type="hidden" name="event_application_number" id="event_application_number" class="form-control" value="<%= curApplicationNumber %>" readonly/>
					
					<a href="/matchapplicationedit"><button value="mod" class="btn btn-block blueB mt-3" onclick="href='/matchapplicationedit'" id="opt" name="opt" value="mod">수정하기</button></a>
					<a href="/mymatch"><button class="btn btn-block blueB mt-3" onclick="alert('삭제되었습니다.')" id="opt" name="opt" value="del">삭제하기</button></a>
				</form>
            </div>
          </div>
        </div>
      </div>
    </div> <!--content-->
    <%} %>
	  <%} %>
  </div> <!--reco-->

</div><!--container-->

</body>
</html>