<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>팀 회원 정보</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/profile.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script> 
    <script type="text/javascript">
        function goBack(){
            window.history.back();
        }
    </script>
</head>

<body class="coloring">
<% include ./navbar %>
<div class="container">
    <div class="reco" style="margin-top:0;">
        <h5 class="mb-3" style="font-weight: bold; border-bottom: 1px solid white; padding-bottom: .5rem;">My Page</h5>

        
        <%
                    if(gender == 75) {
                        var curGender = '혼성';
                    }else if(gender == 50) {
                        var curGender = '남자';
                    }else if(gender == 100){
                        var curGender = '여자';
                    }
                    if(move == 100){
                        var curMove = 'O';
                    }else if(move == 50){
                        var curMove = 'X';
                    }
        
                    if(team_talent == 10){
						var curTalent = '최상';
					}else if(team_talent == 8){
						var curTalent = '상';
					}else if(team_talent == 6){
						var curTalent = '중';
					}else if(team_talent == 4){
						var curTalent = '하';
					}else if(team_talent == 2){
						var curTalent = '최하';
					}
            %>
        
            <div class="profile_img_upload">
                <div class="img_div mb-1"><img id="profile_img" src="../profile_img/<%= profile_img %>"/></div>
                <a href="/uploadimg"><button class="btn btn-sm" type="submit" style="font-size:.8rem; background-color:transparent; color:grey; margin-bottom: 1rem;">수정</button></a>
            </div>

            <div class="mb-3" style="width: 100%; display:flex;">
                <div style="float:left; width:30%;">팀 이름</div>
                <div class="bordering"><%= teamname %></div>
            </div>

            <div class="mb-3" style="width:100%; display:flex;"> <!--아이디-->
                <div style="float:left; width:30%;">팀장 이메일</div>
                <div class="bordering"><%= email %></div>
            </div>
      
         <div class="mb-3" style="display:flex;">
                <div id="user-gender" style="float:left; width:30%;">성별</div>
                <div class="bordering"><%= curGender %></div>
            </div>
      
			<div class="mb-3" style="display:flex;">
                <div style="float:left; width:30%;">평균 연령</div>
                <div class="bordering"><%= age %>세</div>
            </div>

      
            <div class="mb-3" style="display:flex;">
                <div style="float:left; width:30%;">주 경기 장소</div>
                <div class="bordering"><%= region %></div>
            </div>
   
   
   
         <div class="mb-3" style="display:flex;">
                <div style="float:left; width:30%;">원정</div>
            <div class="bordering"><%= curMove %></div>
        </div>
   
        <div class="mb-3" style="display:flex;">
                <div style="float:left; width:30%;">팀원 수</div>
                <div class="bordering"> <%= nofteam %></div>
            </div>
   
   
   
         <div class="mb-3" style="display:flex;">
                <div style="float:left; width:30%;">팀을 결성한 년도</div>
                <div class="bordering"> <%= career_year %></div>
        </div>
      
      
         <div class="mb-3" style="display:flex;">
                <div style="float:left; width:30%;">팀의 실력</div>
                <div class="bordering"> <%= curTalent %> </div>
        </div>
   
      
         <div class="mb-3">
                <div>팀 소개글</div>
                <div style="text-align:left; border:1px solid #7473ff; padding: .3rem; height: 7rem; margin-top:.5rem;"><%= introteam %></div>
            </div>
   
   
        <a href="/teamprofileedit"><button class="btn btn-block" style="color:white; text-align:center; margin-left:auto;margin-right:auto;margin-top:2rem; background-color:#7473ff;">회원정보 수정하기</button></a>
    </div>
    </div>
</body>
<footer class="my-5 pt-5 text-muted text-center text-small"></footer>
</html>