<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>팀 회원 정보</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/profile.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script> 
    <script type="text/javascript">
        function goBack(){
            window.history.back();
        }
    </script>
</head>

<body class="coloring">
<% include ./navbar %>
<div class="container">
    <div class="reco" style="margin-top:0;">
        <h5 class="mb-3" style="font-weight: bold; border-bottom: 1px solid white; padding-bottom: .5rem;">기본 정보</h5>

        
        <%
                    if(gender == 75) {
                        var curGender = '무관';
                    }else if(gender == 50) {
                        var curGender = '남자';
                    }else if(gender == 100){
                        var curGender = '여자';
                    }
                    if(move == 100){
                        var curMove = 'O';
                    }else if(move == 50){
                        var curMove = 'X';
                    }
            %>
        
            <p style="margin-bottom:.5rem;">프로필 사진</p> <!--프로필 사진-->
            <div class="profile_img_upload">
                <div class="img_div mb-1"><img id="profile_img" src="../profile_img/<%= profile_img %>"/></div>
                <a href="/uploadimg"><button class="btn btn-sm" type="submit" style="margin-top:.5rem; background-color:#7473ff; color:white; border-color:#ffc107; margin-bottom: 1rem;">프로필 사진 변경</button></a>
            </div>

            <div class="mb-3">
                <div>팀 이름</div>
            <div class="change" style="text-align:left;"><%= teamname %></div>
            </div>

            <div class="mb-3"> <!--아이디-->
                <div>팀장 이메일</div>
            <div class="change" style="text-align:left;"><%= email %></div>
            </div>
      
         <div class="mb-3">
                <div id="user-gender">성별</div>
            <div class="change" style="text-align:left;"><%= curGender %></div>
            </div>
      
			<div class="mb-3">
                <div>평균 연령</div>
                <div class="enter">
                <div class="change one"><%= age %></div><div class="two">세</div>
                </div>
            </div>

      
            <div class="mb-3">
                <div>주 경기 장소</div>
            <div class="change" style="text-align:left;"><%= region %></div>
            </div>
   
   
   
         <div class="mb-3">
                <div>원정 가능 유무</div>
            <div class="change" style="text-align:left;"><%= curMove %></div>
            </div>
   
   
   
         <div class="mb-3">
                <div>팀원 수</div>
                <div class="enter">
                    <div class="change one"><%= nofteam %></div><div class="two">명</div>
                </div>
            </div>
   
   
   
         <div class="mb-3">
                <div>경기 경력</div>
                <div class="enter">
                    <div class="change one"><%= career_year %></div><div class="two">년</div>
                </div>
            </div>
      
      
         <div class="mb-3">
                <div>여태까지 경기 횟수</div>
                <div class="enter">
                    <div class="change one"><%= team_talent %></div> <div class="two">번</div>
                </div>
            </div>
   
      
         <div class="mb-3">
                <div>팀 소개글</div>
                <div class="change" style="text-align:left;"><%= introteam %></div>
            </div>
   
   

            <hr class="mb-4">

        <a href="/teamprofileedit"><button class="btn btn-block" style="color:white; text-align:center; margin-left:Auto;margin-right:auto;margin-top:2rem; background-color:#7473ff;">회원정보 수정하기</button></a>
    </div>
</div>
</body>
<footer class="my-5 pt-5 text-muted text-center text-small"></footer>
</html>